<h1>{{title}}</h1>
<ul>
    <li *ngFor="let todo of todos">
        {{todo.id}}. {{todo.title}} |
        <button *ngIf="!todo.done" (click)="setDone(todo, true)">Concluir</button>
        <button *ngIf="todo.done" (click)="setDone(todo, false)">Refazer</button> |
        <button (click)="delete(todo)">Excluir</button>
    </li>
</ul>

<form [formGroup]="todoForm">
    <fieldset>
        <label>Tarefa</label>
        <input type="text" placeholder="Título da Tarefa" minlength='5' maxlength='50' formControlName='title'>
        <small *ngIf="todoForm.controls.title.invalid && !todoForm.controls.title.pristine">Este campo precisa ter entre 5 e 20 caracteres!</small>
        <button [disabled]="todoForm.invalid" (click)="add()">Adicionar</button>
    </fieldset>
</form>